<%/*=======================================
Author : Camélia Benhmida Zarzitski
Date : 14/01/2018
Fichier : vue Gestion des catégories
=======================================*/%>

<% var title = 'Gestion des Produits' %>
<% include head %>
<% include header %>

<section>
	<% if(if(typeof categories != 'undefined'){ %>
    <% if(categories == null) { %>
    <aside class="w3-card-4 w3-margin">
      <h3>Pas de catégorie trouvée !</h3>
    </aside>
    <% } %>
    <% categories.forEach(function(x){ %>
      <aside class="w3-card-4 w3-margin">
        <div class="w3-container w3-brown">
          <h2 class="w3-lobster">Gestion des Produits - <%= x.categorie.nom %></h2>
        </div>
        <table>
          <tr>
            <th>Image</th>
            <th>Nom du produit</th>
            <th>Detail</th>
            <th>Origine</th>
            <th>Prix Unitaire</th>
            <th></th>
            <th></th>
          </tr>
          <% x.produits.forEach(function(product){ %>
            <tr>
              <form class="w3-container" method="post" action="">
                <input type="hidden" name="idProduit" value="<%= product.id %>" required>
                <input type="hidden" name="idCategorie" value="<%= x.categorie.id %>" required>
                <input type="hidden" name="picture" id="picture"/> <!-- l'input picture va contenir l'image sous forme d'une data url -->

                <td><input type="text" name="nom" value="<%= product.nom %>" required></td>
                <td><textarea name="detail" value="<%= product.detail %>" required> </textarea></td>
                <td><input type="text" name="origine" value="<%= product.origine %>" required></td>
                <td><input type="number" name="prixUnitaire" value="<%= product.prixUnitaire %>" required></td>
                <td><label for="picture">Image :</label></td>
                <td><input type="file" id="profilepicfile" onchange="loadProfilePic(this)"/></td>
                <td><span class="form_hint">Choisissez une image.</span></td>
                <td><canvas id="pic" width="0" height="0"></canvas></td>
                <td><input type="submit" name="update" value="update"></td>
                <td><input type="submit" name="delete" value="delete"></td>
              </form>
            </tr>
          <% }) %>

          <tr>
            <form class="w3-container" method="post" action="">
              <input type="hidden" name="idCategorie" value="<%= x.categorie.id %>" required>
              <input type="hidden" name="picture" id="picture"/> <!-- l'input picture va contenir l'image sous forme d'une data url -->

              <td><label for="picture">Image :</label></td>
              <td><input type="file" id="profilepicfile" onchange="loadProfilePic(this)"/></td>
              <td><span class="form_hint">Choisissez une image.</span></td>

              <td><canvas id="pic" width="0" height="0"></canvas></td>
              <td><label for="description">Description :</label></td>
              <td><textarea name="description" required> </textarea></td>
              <td><label for="origine">Origine :</label></td>
              <td><input type="text" name="origine" required></td>
              <td><label for="prixUnitaire">Prix Unitaire :</label></td>
              <td><input type="number" name="prixUnitaire" required></td>
              <td><button class="w3-button w3-circle w3-teal" type="submit" value="add" name="add">+</button></td>
            </form>
          </tr>
        </table>
      </aside>
    <% }); %>
  <% } %>
</section>
