<%/*=======================================
Author : Alex Zarzitski
Date : 14/01/2018
=======================================*/%>

<% var title = 'manageCategories' %>
<% include head %>
<% include header %>

<section>
	<aside class="w3-card-4 w3-margin">
		<% include successMessage %>
		<% include errorMessage %>
	</aside>
  <% if(users != null){ %>
	<aside class="w3-card-4 w3-margin">
    <div class="w3-container w3-grey">
      <h2 class="w3-lobster">Liste des profils</h2>
    </div>
    <table class="w3-table w3-striped w3-border">
      <% users.forEach(function(selectedUser){ %>
        <% if(selectedUser.id != user.id){ %>
        <form class="w3-container" method="post" action="">
          <tr>
            <td><%= selectedUser.email %></td>
            <td><%= selectedUser.nom %></td>
            <td><%= selectedUser.prenom %></td>
            <td>
              <form method="get" action="">
                <input class="w3-btn w3-brown w3-block" type="submit" name="edit" value="<%= selectedUser.id %>">
              </form>
            </td>
            <td>
              <form method="post" action="">
                <input class="w3-btn w3-brown w3-block" type="submit" name="delete" value="<%= selectedUser.email %>">
              </form>
            </td>
          </tr>
        </form>
        <% } %>
      <% }); %>
    </table>
	</aside>
  <% } %>
</section>
